
.textRowContainer{
        align-items: center;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: rgb(80, 116, 138);
    }
.rowBtnTop{
        color: white;
        align-items: center;
        padding-top: 9px;
    }
.btnTop{ 
       color: rgb(17, 0, 78) !important ;
    }
    
.rowAlert{
        height: 50px;
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
.btnAlert{
        color: rgb(245, 8, 8) !important ;
    }
.rowBtbBody{
        padding-top: 10%;
        margin-left: 5% !important;
        
    }
    
.rowBtbBodyPanelInicial{
        padding-top: 5%;
        
    }
.responsive-image__image{
    width: 90%;
    cursor: pointer;
    transition: .5s ease;
}

.responsive-image__image:hover{
    opacity: 0.3;
}

.imgPanelTop{
    width: 80%;
    cursor: pointer;
    transition: .5s ease;
}
.imgPanel{
    width: 90%;
    cursor: pointer;
    transition: .5s ease;
}

.imgPanel:hover{
    opacity: 0.3;
}

  .btnVoltar{
    width: 80%; 
  }
  .btnBackStyle{
    background-color: rgb(80, 116, 138) !important;
    border:none !important;
    width: 10%;
    border-radius:5px;
    cursor: pointer; 
    transition: .5s ease;
    border: none !important;
    outline:none !;
  
  }
  .btnBackStyle:focus {
    outline: 0 !important;
  }
  
  .btnBackStyle:hover{
    background-color: rgba(255,255, 255, 0.4) !important;
  }

.rowOptions{
    padding-top: 2%;
}
@media (max-width: 768px) {
    .responsive-image__image{
        width: 80%;
    }
    .imgPanel{
        width: 100%;
    }
}
.container{
    max-width: 75%;
}    

