.RowBtnSubmit{
  padding-top:10px;
}
.RowElements{
  padding-top: 20px;
}
.tr{
  padding: 2px !important;
}
.BtnPesquisa{
  background-color: rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
  margin-top:70%;
}
.DivEdital{
  background-color: white;
  height:70% !important;
  margin-top : 1% !important;
  border-radius: 5px;

}
.divInternaConsultar{
  margin-left: 2%;
  margin-right: 2%;
  min-height: 650px;
  height: auto !important;
  overflow: hidden;
}

.table td, .table th {
  padding: 2px;
  vertical-align: top;
  border-top: none !important;
  font-size: 80% !important;
}
.inputText{
  border-top: 0px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;  
}
.textDescricao{
  min-height: 20vh;
}
.textDescricao:focus{
  box-shadow:none;
  border: 1px solid rgb(80, 116, 138)
}
.titleEdital{
  color:rgb(80, 116, 138);
}
.textEdital{
  color:rgb(80, 116, 138);
  font-size: 90%;
}
.controlMargin{
  height: 10px !important;
}
.filePond{
  margin-top:0%;
}
.textPalavraChave{
  color:rgb(80, 116, 138);
  font-size: 16px;
  padding-top: 3%;
  padding-left: 5%;
}
.btnPalavraChave{
  border-color: rgba(80, 116, 138,0.8) !important;
}
.iconPalavraChave{
  color: rgb(80, 116, 138) !important;
}

.containerPalavraChave{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(214, 204, 204, 0.4);
  border-radius: 7px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.rowPalavasChaves{
  padding-top:  1%;
  padding-bottom: 1%;
}
.divRowPalavraChave{
  display: flex
}

.box{
  display: flex;
  background-color: rgba(80, 116, 138,0.9);
  border-radius: 10px;
  margin-left: 7px;
  height: 30px;
  margin-top: 1% !important;
  margin-bottom: 1% !important;

}

.btnClose{
  color:  rgba(80, 116, 138,0.8) !important;
  background-color:  rgba(80, 116, 138,0.8) !important;
  border-color: rgba(80, 116, 138,0.8) !important;
  height: 100%;
  border-radius: 30px;
  margin-left: 4px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  color: #fff;
  background-color:  rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
}
.btn-outline-primary {
  color:  rgb(80, 116, 138); 
  border: none;
}
.btn-outline-primary:hover{
  background-color: rgb(221, 219, 219) !important;
  color: rgb(255,255,255) !important;
}
.textoPalavraChave{
  margin-left:5px;
  margin-right: 5px;
  color: #fff; 
  margin-top:2px;
  white-space: nowrap !important;

}
.divBtn{
  width: 50%;
}
.iconClose{
  color: #fff;
  margin-bottom: 4px;
}
.textLabel{
  color:rgb(80, 116, 138);
  font-size: 15px;
}

.btnBackStyle{
  background-color: rgb(80, 116, 138) !important;
  border:none !important;
  width: 10%;
  border-radius:5px;
  cursor: pointer; 
  transition: .5s ease;
  border: none;
  outline:none ;

}
.btnBackStyle:focus {
  outline: 0 !important;
}

.btnBackStyle:hover{
  background-color: rgba(255,255, 255, 0.4) !important;
}
.divTabela{
  padding-top: 2%;
}

.page-item.active .page-link {
  z-index: 1;
  color: white !important;
  background-color:rgb(80, 116, 138) !important;
  border-color:rgb(80, 116, 138) !important;
}

.react-bs-table-bordered {
  border: none;
  border-radius: 5px;
}

.table-bordered td, .table-bordered th {
  border-top: none !important;  
  border-left: none !important;  
  border-right: none !important;
  border-bottom: 1px solid #dee2e6;
}

.react-bs-table .table-bordered>thead>tr:first-child>td, .react-bs-table .table-bordered>thead>tr:first-child>th {
  color: rgb(80, 116, 138) !important;
  padding-bottom: 2%;
  font-size: 90% !important;
}
.react-bs-table .table-bordered>tbody>tr>td{
  color: rgb(80, 116, 138) !important;
  font-size: 80% !important;;
}
.react-bootstrap-table-page-btns-ul {
  margin-top: 0;
  margin-left: 70%;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  outline: none !important;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color:rgb(80, 116, 138) !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.tituloLeft{
  float: left;
  width: 80%;
}
.tituloRight{
  float: right;
}
.rowSubmit{
 margin-top: 1% !important;
}