.RowBtnSubmit{
  padding-top: 10px;
}
.RowElements{
  padding-top: 20px;
}
.BtnSubmit{
  background-color: rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
}
.DivConsultar{
  background-color: white;
  height:100% !important;
  margin-top : 2% !important;
  border-radius: 5px;

}

.tituloTable{
  color:  rgb(80, 116, 138);

}
.table{
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 96% !important;

}
.rowTable{
  border-top-style: hidden !important;
}
.tdTable{
  border: 1% solid rgb(80, 116, 138) !important;
  color: rgb(80, 116, 138);
 }
.btnBackStyle{
  background-color: rgb(80, 116, 138) !important;
  border:none !important;
  width: 10%;
  border-radius:5px;
  cursor: pointer; 
  transition: .5s ease;
  border: none ;
  outline:none ;

}
.btnBackStyle:focus {
  outline: 0 !important;
}

.btnBackStyle:hover{
  background-color: rgba(255,255, 255, 0.4) !important;
}

.divInterna{
  margin-left: 3%;
  margin-right: 3%;
}
.tableRight{
  float: right;
  border: 2px solid rgb(80, 116, 138);
  border-radius: 10px;
  width: 27vw;
  opacity: 1;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  margin-top:5.5vh;
  margin-bottom:1vh;
}
.tableRightOpacity{
  width: 0px;
  opacity: 0;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.divTableRepresentacao{
  height: 100%;
}

.tableConsultar {
  margin-top: 2% !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 100% !important;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
}
.tableConstutar50percent{
  margin-top: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 60% !important;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
  float:left;
}

.cardProximos{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}
.tituloCardProximidade{
  padding-top: 0.6%;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  margin-left: 3%;
}
.tituloCard{
  font-size: 70%;
  margin-left: 2px;
  color: rgb(80, 116, 138);
  font-weight: bold;
}
.processoCard{
  font-weight: bold;
  margin-left: 2px;
  color: rgb(80, 116, 138);
  font-size: 70%;
}
.hrCardRepresentacaoProxima{
  display: inline-block !important;
  width: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: rgb(80, 116, 138) !important;
}
.rowLeftCard{
  float: left;
  max-width: 15vw;
}
.rowRightCard{
  float: right;
}
.btnCardRepresentacaoProximas{
  margin-top: 0.2vw;
  float: left;
  width: 2vw !important;
  height: 5vh !important;
}
.fa-lg{
  font-size: 1vw;
}
.columnTable{
  color: rgb(80, 116, 138) !important;
  font-size: 60% !important;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 5vh;
  padding-top: 1vh !important; 
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.react-bootstrap-table th.sortable {
  cursor: pointer;
  color: rgb(80, 116, 138) !important;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  outline: none !important;
}
.react-bootstrap-table table {
  table-layout: fixed;
  border: none !important;
}

.react-bootstrap-table tbody{
  padding-top: 2px !important;
}
.headerTable{
  padding-bottom: 6%;
  font-weight: bold;
  font-size: 120% !important;
}
.indicador{
  color: rgb(80, 116, 138) !important;
  padding-top:1vh;
}
.columnTableIcon{
  color: rgb(80, 116, 138) !important;
  font-size: larger !important;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 5vh;
  padding-top: 1vh !important; 
}
.btn:active{
  border: none !important;
  outline: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow:none
}
.inputText:focus{
  box-shadow:none;
  border: 1px solid rgb(80, 116, 138);
}
.textDecisao{
  color: rgb(80, 116, 138);
  font-size: 120%;
}
.parent-expand-foo{
  background-color: rgba(80, 116, 138,0.5);
}
.react-bs-table table td, .react-bs-table table th{
  white-space:nowrap;
}
.divInternaRepresentacao{
  width: 98%;
  float: left;
}
.divInternaRepresentacaoRight{
  width: 49%;
  float: right;
}

.linha-vertical {
  border-right: 2px solid rgba(80, 116, 138,0.5);/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
  margin-bottom: 0.5%;
 }
 .textPalavraChaveBox{
  margin-left: 5px;
  color: #fff;
  margin-top: 5px;
  margin-right: 5px;
 }
 .divPalavrasChavesInterna{
   margin-left: 1.7%;
   width: 98%;
 }
 .rowPalavasChavesInterna{
   width: 100%;
 }
 .wordCloundDiv{
  border-radius: 7px;
  margin-top: -1%;
 }
 .page-item{
   cursor:pointer;
   box-shadow: none !important;
 }
 .page-item:focus{
  box-shadow:none !important;
  border: 1px solid rgb(80, 116, 138);
 }
 .page-link:focus{
   box-shadow: none;
 }
 .simple-cloud{
   background-color: rgba(255,255, 255, 0.4) !important;
 }
 .row{
  margin-right: 0px;
  margin-left:  0px;
 }
 .rowPalavraChaveExpand{
   margin-top: -2%;
 }
 .RowDecisaoExpand{
   margin-left: 1.7%;
 }
 .divPalavrasChaves{
   margin-top: 1%;
 }
.empytTable{
  background-color:#fff3cd;
  border-radius: 7px;
}
.textEmpyt{
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 1%;
  margin-right: 10%;
  font-size: 85%;

}
.modal-90w{
  width: 100% ;
  max-width: 90%;
}
.tituloHeaderProximos{
  background-color: #507489;
  height: 40px;
}
