.rowHeader{
    padding-top: 1%
}
.hr{
    color:rgb(255,255,255);
    height: 10;
    width: 100%;
    background-color: rgb(255,255,255);
    margin-top: 1%;

}
.logoDataMine{
   margin-left: 2px;
}

.imgEiditalView{
    width:100%;
}
.imgTceView{
    width: 95%;
}
.logoEdital{

}
.logoTce{
  
}
.loginComponent{
    margin-top: 1%;
    display:inline-block;

}


