.marginInsert{
    margin-top: 2%;
}
.btnClose2{
    color:  rgba(64, 167, 77, 0.8) !important;
    background-color:  rgba(64, 167, 77, 0.8) !important;
    border-color: rgba(64, 167, 77, 0.8) !important;
    height: 100%;
    border-radius: 30px;
    margin-left: 4px;
  }
  .popUp{
      width: 100%;
  }
  .rowBtnGravar{
      margin-top: 2%;
      margin-left: -2%;
  }
  .BtnLogoutModal{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .BtnLogoutModal:active{
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .BtnLogoutModal:hover{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .iconCloseModal{
    color: rgb(80, 116, 138);
    position: absolute;
    right: 0;
    margin-right: 2%;
  }
.BtnPlusKey{
  background-color: rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
  margin-top:70%;
  margin-left: -70%;
}