.RowBtnSubmit{
  padding-top:10px;
}
.RowElements{
  padding-top: 20px;
}
.BtnSubmit{
  background-color: rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
  margin-left: 10px;
}
.DivDecisao{
  background-color: white;
  height:100% !important;
  margin-top : 2% !important;
  border-radius: 5px;

}
.divInterna{
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 1%;
}
.inputText{
  border-top: 0px solid !important;
  border-left: 0px solid !important;
  border-right: 0px solid !important;  
}
.titleDecisao{
  color:rgb(80, 116, 138);
}
.textDecisao{
  color:rgb(80, 116, 138);
  font-size: 14px;
}

.filePond{
  margin-top:2%;
}
.textPalavraChave{
  color:rgb(80, 116, 138);
  font-size: 16px;
  padding-top: 3%;
  padding-left: 5%;
}
.btnPalavraChave{
  border-color: rgb(80, 116, 138) !important;
}
.iconPalavraChave{
  color: rgb(80, 116, 138) !important;
}

.containerPalavraChave{
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(214, 204, 204, 0.4);
  border-radius: 7px;
}
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}
.rowPalavasChaves{
  padding-top:  1%;
  padding-bottom: 1%;
}

.divRowPalavraChave{
  display: flex
}

.box{
  display: flex;
  background-color: rgba(80, 116, 138,0.9);
  border-radius: 10px;
  margin-left: 7px;
  height: 30px;
  margin-top: 1% !important;
  margin-bottom: 1% !important;

}

.btnClose{
  color:  rgba(80, 116, 138,0.8) !important;
  background-color:  rgba(80, 116, 138,0.8) !important;
  border-color: rgba(80, 116, 138,0.8) !important;
  height: 100%;
  border-radius: 30px;
  margin-left: 4px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  color: #fff;
  background-color:  rgb(80, 116, 138) !important;
  border-color: rgb(80, 116, 138) !important;
}
.btn-outline-primary {
  color:  rgb(80, 116, 138) 
}
.btn-outline-primary:hover{
  background-color: rgb(221, 219, 219) !important;
  color: rgb(255,255,255) !important;
}
.textoPalavraChave{
  margin-left:5px;
  color: #fff; 
  margin-top:2px;
}
.divBtn{
  width: 50%;
}
.iconClose{
  color: #fff;
  margin-bottom: 4px;
}
.textLabel{
  color:rgb(80, 116, 138);
  font-size: 15px;
}

.btnBackStyle{
  background-color: rgb(80, 116, 138) !important;
  border:none !important;
  width: 10%;
  border-radius:5px;
  cursor: pointer; 
  transition: .5s ease;
  border: none !important;
  outline:none !;

}
.btnBackStyle:focus {
  outline: 0 !important;
}

.btnBackStyle:hover{
  background-color: rgba(255,255, 255, 0.4) !important;
}
.ck-editor__editable p{
  margin: 0px !important;
}
.ck.ck-toolbar {
  margin-top: 2% !important;
  position: sticky !important;
  top: 0px !important;
}