body {
    font-size: 14px;
  }
.left{
    width: 29vw;
    float: left;
    padding-top: 8%;
    padding-left: 3vw;
}
.right{
    width: 50%;
    float: right;
    padding-top: 8%;
    padding-left: 0%;
}
.inputLogin{
    border-top: 0px solid !important;
    border-left: 0px solid !important;
    border-right: 0px solid !important;
    background-color: rgb(80, 116, 138) !important;
    border-bottom: 1px solid rgb(255,255,255);
    color: rgb(255,255,255) !important;
    outline: none !important;
    font-size: 1.2vw;
    -webkit-text-fill-color: rgb(255,255,255) !important;
}

@media screen and (min-width:1920px) {
	.textTitleLogin{
        color: rgb(255,255,255) !important;
        font-size: 0.8vw !important;
    }
    .inputLogin{
        font-size: 0.8vw !important;
    }
    .titleBtn{
        font-size: 0.8vw !important;
    }
}

.inputLogin::placeholder{
    color:rgb(255,255,255);
}
.inputLogin:focus{
    box-shadow: none !important;
}
.inputLogin::after{
    background-color: rgb(80, 116, 138) !important;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0);
}
/*Change text in autofill textbox*/
input inputLogin:-webkit-autofill
input inputLogin:-webkit-autofill:hover,
input inputLogin:-webkit-autofill:focus,
input inputLogin:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(255,255,255) !important;
}
.textTitleLogin{
    color: rgb(255,255,255) !important;
    font-size: 1.2vw;
}

.BtnSubmitLogin{
    background-color: rgb(107, 122, 131) !important;
    border-color: rgb(107, 122, 131)!important;
    width: 26vw;
  }
  .rowBtnLogin{
      margin-top: 5%;
  }
  .novoCadastro{
      margin-top: 5%;
      align-items: center;
  }
  .btnCadastre{
    background-color: rgb(80, 116, 138) !important;
    border-color: rgb(80, 116, 138)!important;
  }
  .rowSubmitLogin{
    margin-top: 2% !important;
  }
  .DivFormLogin{
    background-color: white;
    height:80vh !important;
    margin-top : 1% !important;
    border-radius: 5px;
  }
  .titleBtn{
    color: rgb(255,255,255) !important;
    font-size: 1.2vw;
    padding-top: 0.27vw;
  }
  .pointer{
      cursor: pointer;
  }
  .iconUser{
      color: #ffffff;
      transform: scale(1.5,1.5);
      margin-top: 3%;
  }
  .textUserComponent{
      color:#ffffff;
      font-size: 1.4vw;
      margin-left: 7%;
  }
  .inlineComponent{
    display:flex;
  }
  .BtnLogout{
    color: rgb(221, 204, 53);
    background-color: rgb(80, 116, 138)!important;
    border: none !important;
    position: relative;
  }
  .iconLogout{
    position: absolute;
    top: 25%;
    left: 50%;
  }